.searchbar {
  display: flex;
  justify-content: center;

  input {
    transition: 0.5s;
    border: none;
    font-family: 'Inter Tight', sans-serif;
    font-size: 2rem;
    padding: 0.7em;
    border-radius: 50px;
    background-color: #fff;
    width: 17em;
    color: var(--main);
  }

  input:focus {
    outline: none;
    background-color: var(--main);
    color: #fff;
    box-shadow: 1px 1px 68px -4px var(--main);
  }

  @media only screen and (max-width: 1080px) {
    input {
      width: 15em;
    }
  }

  @media only screen and (max-width: 720px) {
    input {
      width: 9em;
      padding: 0.7em;
      font-size: 1.5rem;
    }
  }
}

::placeholder {
  color: vaR(--main);
}